* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.x-switch {
    position: relative;
    display: inline-block;
    width: 0.4rem;
    height: 0.2rem;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;

    .x-switch-core {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
        background-color: #fff;
        border: 0.01rem solid #DBDBDB;
        border-radius: 0.2rem;
        transition: all 0.2s linear;

        .x-switch-button {
            position: absolute;
            //left: 0.02rem;
            top: 50%;
            transform: translate(0.02rem, -50%);
            width: 0.14rem;
            height: 0.14rem;
            background-color: #B2B2B2;
            border-radius: 0.16rem;
            transition: all 0.2s linear;
        }
    }

    .is-check {
        background-color: #FA851C;
        border: 0.01rem solid #FA851C;

        .x-switch-button {
            background-color: #fff;
            transform: translate(0.22rem, -50%);
        }
    }
}
