* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.m-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;

    user-select: none;

    .m-p-ipt {
        padding: 0 0.1rem;
        width: 0.85rem;
        height: 0.57rem;
        color: #B2B2B2;
        border: 0.01rem solid #D5D5D5;
        border-radius: 0.04rem;
        font-size: 0.20rem;
        outline: none;
        &::placeholder {
            font-size: 0.20rem;
        }
    }

    .m-p-go {
        margin-left: 0.2rem;
        color: #50AD54;
    }

    .m-p-prev {
        margin-left: 0.4rem;
    }

    .page-num {
        padding: 0 0.05rem;
        height: 0.4rem;
        min-width: 0.4rem;
        text-align: center;
        font-size: 0.24rem;
    }

    .current-page {
        background-color: #50ad54;
        border-radius: 0.38rem;
        color: #fff;
        font-size: 0.24rem;
    }

    .m-pagination-item {
        font-size: 0.28rem;
        margin-left: 0.15rem;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }
}