* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: .2rem auto;
    width: 9rem;
    height: 3rem;

    .swiper-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        .swiper-inner {
            width: 100%;
            height: 100%;
            transition: all 0.7s ease;

            .swiper-inner-item {
                float: left;
                width: 100%;
                height: 100%;
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .swiper-triggers {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: .1rem;
            z-index: 999;

            .swiper-triggers-dot {
                margin: .05rem;

                //display: block;
                //width: .5rem;
                //height: .5rem;
                cursor: pointer;
                //background-color: #fff;
                width: 8px;
                height: 8px;
                display: inline-block;
                border-radius: 50%;
                background: #fff;
                opacity: .2;
            }
            .swiper-active {
                background-color: #fff;
                opacity: .8;
            }
        }

        .swiper-arrow-left,
        .swiper-arrow-right {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;
            color: #fff;
            width:.5rem;
            height:.5rem;
            svg{
                position: absolute;
                top: 0;
                width:.5rem;
                height:.5rem;
            }
        }
        .swiper-arrow-left {
            left: .1rem;
        }
        .swiper-arrow-right {
            right: .1rem;
        }
    }
}
